.pvm-skaiciuokle{
  margin: 0 auto;
  width: 600px;
}

.Header{
  background-color: rgba(211, 211, 211, 0.527);
}

.Main {
  background-color: rgba(255, 127, 80, 0.31);
}
.bendra{
  background-color: rgba(211, 211, 211, 0.527);
}